* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    
    color:white;    
    text-align: center;
    padding: 15px;


}
.container-fluid{
    background-image: linear-gradient(90deg, #434343 0%, rgb(0, 0, 0, 0.3));
}
.table {
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to left, #DECBA4, #3E5151);
    text-transform: capitalize;

}
.rp{
    text-align: center;
}
.rp2{
    background-image: linear-gradient(to left, #DECBA4, #3E5151);
    color:white;
 
}

select#statusFilter {
    background-color: #3E5151;
}